.like-button {
  background-color: #008CBA;
  margin-right: 10px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}
.like-button:hover {
    box-shadow: 0 12px 16px 0 rgba(235, 235, 235, 0.24), 0 17px 50px 0 rgba(192, 192, 192, 0.19);
    background-color: rgb(64, 196, 240);
    color: white;
}
.like-button:active {
  background-color: rgb(64, 196, 240);
  box-shadow: 0 5px rgb(199, 199, 199);
  transform: translateY(4px);
  -moz-user-focus: none;
  border: none;
  outline: none;
}